# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=zKXHe-Ahdb7aPK1ylAJlRgTefktEaACi
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

OIDC_ISSUER=https://sso.kmitl.ac.th/realms/kmitl
OIDC_CLIENT_ID=oidc-client
OIDC_CLIENT_SECRET=oidc-client-secret
